html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetical, Arial, sans-serif;
    text-align: center;
    background-color: #FFC567;
}

#text-area {
    display: block;
    width: 80%;
    height: 90px;
    margin: 1.5% auto;
    resize: none;
    border: 1px solid ;
}

.container {
    margin: 0 auto;
    padding: 2% 5%;
}
#rotit {
    display: block;
    height: 60px;
    width: 80%;
    margin: 1.5% auto;
    padding: 1.5%;
    background-color: #2E9BFF;
    border: none;
    color: #fff;
}

#rotit:hover {
    color: #fff;
    background-color: rgb(120,200,120);
    cursor: pointer;
}